<div class="toolbar" (click)="back()">
  <fa-icon [icon]="faAngleDoubleLeft" size="3x" [styles]="{'color': 'white'}"></fa-icon>
  <img src="../assets/img/recarga/logorv.png">
</div>
<h1>Selecione a operadora</h1>
<mat-grid-list cols="5">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows">
      <div class="service" [style.background]="tile.color" (click)="redirect(tile.url)">
        <div class="content">
        <i class="fa {{tile.icon}} fa-5x" aria-hidden="true"></i>
        <img class="logo" src="{{tile.img}}">
        <br/>
        <br/>
        <h2>{{tile.text}}</h2>
        </div>
      </div>
  </mat-grid-tile>
</mat-grid-list>
